<p style="background-color: #3498db; color: #fff; padding: 10px; border-radius: 4px;">
    <strong>Hello {{to_name}},</strong>
</p>

<p style="background-color: #3498db; color: #fff; padding: 10px; border-radius: 4px;">
    You got a new message from {{from_name}}:
</p>

<p style="background-color: #f4f4f4; padding: 12px; border-left: 4px solid #d0d0d0; font-style: italic; border-radius: 4px;">
    {{message}}
</p>

<p style="background-color: #3498db; color: #fff; padding: 10px; border-radius: 4px;">
    Best wishes,<br>
    Rohit Saini
</p>
